<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pwa>
            <back_in_stock>
                <allow_to_subscribe>1</allow_to_subscribe>
            </back_in_stock>
        </pwa>
    </default>
</config>
