<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pwa>
            <permission>
                <back_in_stock_notification>1</back_in_stock_notification>
            </permission>
        </pwa>
    </default>
</config>
