<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pwa">
            <group id="permission">
                <field id="back_in_stock_notification" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Back in stock notification</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allows customer to subscribe for push notifications.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
